
{% extends 'base.html.twig' %}
{% block title %}Order History{% endblock %}
     
{% block body %}

<!--<ul class=entries>-->
<div class="panel panel-default">
    <div class="panel-heading" style="height:3em;padding:0.2em;padding-right:1em;"></div>
    <table class="table">
            <tr>
                <th>No</th>
                <th>Order ID</th>
                <th>Customer/Table</th>
                <th>The Orders</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            {% set idx = 1 %}
            {% for o in orderHistory.custOrders %}
            <tr>
                <td>{{idx}}</td>
                <td>{{ o.getOrderId() }}</td>
                <td>
                    {% if o.getCustomer() %}
                        {{ o.getCustomer().getCustomerName() }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% for od in orderHistory.orderDetails[o.getOrderId] %}
                        {{od.getMeal().getMealName()}}({{od.getQty()}});
                    {% endfor %}
                </td>
                <td>{{ o.getOrderStatusDesc() }}</td>
                <td>
                    <a href="{{path('detailHistoryIndex', {'customer_order_id':o.getOrderId()} )}}" class="btn btn-success" style="margin-bottom:25px;" role="button">Detail</a>
                </td>
            </tr>
            {% set idx = idx +1 %}
            {% else %}
            <em>Unbelievable.  No entries here so far</em>
            {% endfor %}
        </table>
</div>
    
{% endblock %}