
{% extends 'base.html.twig' %}
{% block title %}User Group Management{% endblock %}
     
{% block body %}
<h2 class="page-header" style="margin-top:10px;">User Group Management</h2>
<!--<ul class=entries>-->
<div class="panel panel-default">
    {% set successMessages = app.session.flashbag.get('success') %}
    {% if successMessages %}
        <div class="alert-success success">
        {% for flashMessage in successMessages %}
            {{ flashMessage }}
        {% endfor %} 
        </div>
    {% endif %}
    {% set errorMessages = app.session.flashbag.get('error') %}
    {% if errorMessages %}
        <div class="alert-danger error">
        {% for flashMessage in errorMessages %}
            {{ flashMessage }}
        {% endfor %} 
        </div>
    {% endif %}
    <div class="panel-heading" style="height:3em;padding:0.2em;padding-right:1em;">
    {# if session.logged_in #}
    <a href="{{ path('addUsergroup') }}"><button type="button" class="btn btn-primary pull-right">Add</button></a>
    {# endif #}
    </div>
    <!-- Table -->
    <table class="table">
        <tr>
            <th>No</th>
            <th>User Group ID</th>
            <th>User Group Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {% set idx = 1 %}
        {% for usergroup in usergroups %}
        <tr>
            <td>{{idx}}</td>
            <td>{{ usergroup.getUserGroupId() }}</td>
            <td>{{ usergroup.getUserGroupName() }}</td>
            <td>{{ usergroup.userGroupDesc() }}</td>
            <td>
                {% if usergroup.getIsActive() %}
                Active
                {% else %}
                Non-Active
                {% endif %} </td>
            <td>
                {# if session.logged_in #}
                <a href="{{ path('editUsergroup', {'id': usergroup.userGroupId}) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true" style="margin-right:0.3em"></span></a>
                <a href="{{ path('deleteUsergroup', {'id': usergroup.userGroupId}) }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                {# endif #}
            </td>
        </tr>
        {% set idx = idx +1 %}
        {% else %}
        <em>Unbelievable.  No entries here so far</em>
        {% endfor %}
    </table>
</div>
    
{% endblock %}



