{% extends 'base.html.twig' %}
{% block title %}Customer Management{% endblock %}
{% block body %}
{# if session.logged_in #}
{% if error %}
<div class="error">{{ error }}</div>
{% endif %}
<form enctype="multipart/form-data" action="{% if act == 'add' %}{{ path('addCustomer') }} {% else %} {{ path('editCustomer',{'id': customer.customerId}) }} {% endif %}" method=post class="laminarin-form">
    <dl>
        <dt>Identity ID:</dt>
        <dd>{{ form_widget(form.personalId) }}</dd>
        <dt>Name:</dt>
        <dd>{{ form_widget(form.customerName) }}</dd>
        <dt>Fullname:</dt>
        <dd>{{ form_widget(form.customerFullname) }}</dd>
        <dt>User ID:</dt>
        <dd>{{ form_widget(form.userId) }}</dd>
        <dt>Address:</dt>
        <dd>{{ form_widget(form.customerAddress) }}</dd>
        <dt>Phone Number:</dt>
        <dd>{{ form_widget(form.phoneNumber) }}</dd>
        <dt>Email:</dt>
        <dd>{{ form_widget(form.email) }}</dd>
        <dt>Picture:</dt>
        <dd>{{ form_widget(form.picture) }}</dd>
        <dd><img id="cust-pic-preview" class="img-thumbnail" width="200em" onerror="getDefaultImage(this)" src="{{asset('bundles/images/customer/')}}{{customer.getPicture()}}" />
        </dd>
        <dd>{{ form_widget(form.save) }}
            <a href="{{ path('customerIndex') }}"><button type="button" class="btn btn-primary pull-right">Back</button></a>
        <br/>
        </dd>
    </dl>
</form>

  {# endif #}
{% endblock %}