<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}welcome{% endblock %}</title>
        {% block stylesheets %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <link href="{{ asset('bundles/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('bundles/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('bundles/css/style.css') }}" rel="stylesheet" type="text/css">

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script type="text/javascript" src="{{ asset('bundles/lib/jquery-2.2.3.min.js') }}"></script>
        <script type="text/javascript" src="{{asset('bundles/lib/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/lib/angular-1.5.8/angular.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/lib/angular-md5.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/lib/angular-1.5.8/angular-sanitize.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/lib/angular-1.5.8/angular-resource.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/lib/angular-1.5.8/angular-route.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/lib/angular-1.5.8/angular-cookies.min.js')}}"></script>
        
        <script type="text/javascript" src="{{asset('bundles/js/app.js')}}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/services/EventData.js') }}"></script>
        
        <script type="text/javascript" src="{{ asset('bundles/js/controllers/EventListCtrl.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/controllers/EditEventCtrl.js') }}"></script>
        <script type="text/javascript" src="{{asset('bundles/js/filters.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/js/laminarin.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/js/controllers/HomeCtrl.js')}}"></script>
            
    </head>
    <body ng-cloak>
        <nav class="navbar navbar-default bg-dark-brown nav-border">
        <div class="container-fluid">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand c-white" href="{{path('homepage')}}" ng-controller="HomeCtrl">Laminarin {[{helloMessage}]}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    {% for mn in userData.menu %}
                        {% if mn.subMenu|length == 0 %}
                            <li><a href="{{path(mn.m.controller)}}">{{mn.m.menu}}</a></li>
                        {% else %}
                            <li class="dropdown">
                                <a href="{{path(mn.m.controller)}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{mn.m.menu}}<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                {% for mnn in mn.subMenu %}
                                    {% if mnn.subMenu|length == 0 %}
                                        <li><a href="{{path(mnn.m.controller)}}">{{mnn.m.menu}}</a></li>
                                    {% else %}
                                        <li class="dropdown">
                                            <a href="{{path(mnn.m.controller)}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{mnn.m.menu}}<span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                            {% for mnnn in mnn.subMenu %}
                                                <li><a href="{{path(mnnn.m.controller)}}">{{mnnn.m.menu}}</a></li>
                                            {% endfor %}
                                            </ul>
                                        </li>        
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            </li>        
                        {% endif %}
                    {% endfor %}
                    <li class="dropdown">
                        <a href="{{path('angularEditProfile')}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Angular JS Page<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{path('angularEditProfile')}}">EditProdile</a></li>
                            <li><a href="{{path('angularCacheFactory')}}">Cache Factory</a></li>
                            <li><a href="{{path('angularCompileService')}}">Compile Service</a></li>
                            <li><a href="{{path('angularLocaleService')}}">Locale Service</a></li>
                            <li><a href="{{path('angularTimeoutService')}}">Timeout Service</a></li>
                            <li><a href="{{path('angularFilterServiceSample')}}">Filter Service</a></li>
                            <li><a href="{{path('angularCookieServiceSample')}}">Cookie Service</a></li>
                            <li><a href="#/newEvent">Route Service</a></li>
                            
                        </ul>
                    </li>
                    
                </ul>
                {#<form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                #}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('login') }}" >login</a>
                        {% else %}
                        <a href="{{ path('logout') }}">logout</a>
                        {% endif %}
                   </li>
                   
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="page">
        {% set noticeMessages = app.session.flashbag.get('notice') %}
        {% if noticeMessages %}
        <div class=metanav>
            {% for flash_message in app.session.flashBag.get('notice') %}
            <div class=flash>{{ flash_message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        <ng-view></ng-view>
        {% block body %}{% endblock %}
    </div>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
