{% extends 'base.html.twig' %}
{% block body %}
<h2 class="page-header" style="margin-top:10px;">Admin Management</h2>

    {% set successMessages = app.session.flashbag.get('success') %}
    {% if successMessages %}
        <div class="alert-success success">
        {% for flashMessage in successMessages %}
            {{ flashMessage }}
        {% endfor %} 
        </div>
    {% endif %}
    {% set errorMessages = app.session.flashbag.get('error') %}
    {% if errorMessages is not empty %}
        <div class="alert-danger error">
        {% for flashMessage in errorMessages %}
            {{ flashMessage }}
        {% endfor %} 
        </div>
    {% endif %}
    {% if errors  is not empty %}
    <div class="error">
        <ul>
        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    {{ form_start(form) }}
        <dl>
            <dt>Current Password:</dt>
            <dd>{{ form_widget(form.currentPassword) }}</dd>
            <dt>New Password:</dt>
            <dd>{{ form_widget(form.newPassword) }}</dd>
            <dt>Retype New Password:</dt>
            <dd>{{ form_widget(form.retypeNewPassword) }}</dd>
            <dd>{{ form_widget(form.save) }}</dd>
        </dl> 
    {{ form_end(form) }}
    

{% endblock %}