
{% extends 'base.html.twig' %}
{% block title %}User Management{% endblock %}
     
{% block body %}
<div class="row">
	<div class="col-sm-2">
			<a href="{{path('checkOutTheOrders')}}" class="btn btn-success" style="margin-bottom:25px;" role="button">Check Out</a> 
                        
			<div class="navbar navbar-inverse navbar-left meal-cat-nav" style="border-color:#fff">
				<ul class="nav meal-cat-nav">
					{% for category in mealCategory %}
						<li><a href="{{ path('orderIndex', {'category_id': category.getCategoryId()}) }}" class="white-text {% if activeCategoryId == category.getCategoryId() %}active{%endif%}">{{ category.getCategoryName() }}</a></li>
					{% endfor %}
				</ul>
			</div>
		
	</div>
	<div class="col-sm-10">
        <div class="row">
		<form enctype="multipart/form-data" action="{{ path('pickTheMeal', {'category_id':orderDetailForm.category_id.vars.data}) }}" method="post">
        {{ form_widget(orderDetailForm.category_id)}}
		{% for od in orderDetailForm.orderDetail %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="{{asset(mealDir)}}{{od.vars.data['meal'].getPicture()}}" onerror="getDefaultImage(this)">
                  <div class="caption">
                    <h3>{{od.vars.data['meal'].getMealName()}}</h3>
                    <p>{{od.vars.data['meal'].getMealDesc()}}</p>
                    <p>
                        {% if od.vars.data['meal'].getMealId() in listOfOrderedMeal|keys %}
                        <span class="alert-info">Has been ordered. Qty : {{od.vars.data['qty'] }}</span>
						<a href="{{ path('cancelPickTheMeal', {'meal_id': od.vars.data['meal'].getMealId(), 'category_id': orderDetailForm.category_id.vars.data }) }}" class="btn btn-default pull-right" role="button">Cancel</a> 
                        {% else %}
						{{ form_widget(od.meal)}}
						Quantity: {{ form_widget(od.qty)}}
						{{ form_widget(od.save)}}                 
                        {% endif %}
                    </p>
                  </div>
                </div>
            </div>

            
            
        {% endfor %}
    	</form>
		</div>
	</div>
</div>

    
{% endblock %}



