{% extends 'base.html.twig' %}
{% block body %}
{# if session.logged_in #}
{% if error %}
<div class="error">{{ error }}</div>
{% endif %}
<form enctype="multipart/form-data" action="{% if act == 'add' %}{{ path('addUser') }} {% else %} {{ path('editUser',{'id': user.id}) }} {% endif %}" method=post class="laminarin-form">
    <dl>
        <dt>Username:</dt>
        <dd>{{ form_widget(form.username) }}</dd>
        <dt>User Group:</dt>
        <dd>{{ form_widget(form.userGroup) }}</dd>
        <dt>Email:</dt>
        <dd>{{ form_widget(form.email) }}</dd>
        <dd>{{ form_widget(form.save) }}</dd>
    </dl>
</form>

  {# endif #}
{% endblock %}