{% extends 'base.html.twig' %}
{% block title %}Employee Management{% endblock %}
{% block body %}
{# if session.logged_in #}
<h2 class="page-header" style="margin-top:10px;">Employee Management</h2>
{% if errors %}
    <div class="error">
        <ul>
        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
        </ul>
    </div>
{% endif %}
<form enctype="multipart/form-data" action="{% if act == 'add' %}{{ path('addEmployee') }} {% else %} {{ path('editEmployee',{'id': employee.employeeId}) }} {% endif %}" method=post class="laminarin-form">
    <dl>
        <dt>Identity ID:</dt>
        <dd>{{ form_widget(form.personalId) }}</dd>
        <dt>Name:</dt>
        <dd>{{ form_widget(form.employeeName) }}</dd>
        <dt>Fullname:</dt>
        <dd>{{ form_widget(form.employeeFullname) }}</dd>
        {#
        <dt>User ID:</dt>
        <dd>{{ form_widget(form.user) }}</dd>
        #}
        <dt>Address:</dt>
        <dd>{{ form_widget(form.employeeAddress) }}</dd>
        <dt>Phone Number:</dt>
        <dd>{{ form_widget(form.phoneNumber) }}</dd>
        <dt>Email:</dt>
        <dd>{{ form_widget(form.email) }}</dd>
        <dt>Picture:</dt>
        <dd>{{ form_widget(form.picture) }}{{ form_widget(form.pictureFile) }}</dd>
        <dd><img id="cust-pic-preview" class="img-thumbnail" width="200em" onerror="getDefaultImage(this)" src="{{asset('bundles/images/employee/')}}{{employee.getPicture()}}" />
        </dd>
        <dd>{{ form_widget(form.save) }}
        <a href="{{ path('employeeIndex') }}"><button type="button" class="btn btn-primary pull-right">Back</button></a>
        <br/>
        </dd>
    </dl>
</form>

  {# endif #}
{% endblock %}