
{% extends 'base.html.twig' %}
{% block title %}User Group Management{% endblock %}
     
{% block body %}

<!--<ul class=entries>-->
<div class="panel panel-default">
    <div class="panel-heading" style="height:3em;padding:0.2em;padding-right:1em;">
        {#<form enctype="multipart/form-data" action="{{ path('loadUserPrivilege') }}" method="post" >
            
        </form>#}
        {{ form_start(form) }}
            {{ form_widget(form.usergroup) }} {{ form_widget(form.save) }}
        {{ form_end(form) }}
    </div>
    {% if userPrivilegeMenu is defined %}
    <form action="{{ path('saveUserPrivilege') }}" method="post" style="padding-bottom:5px;">
    <table  class="table">
		<thead>
			<tr><th rowspan="2" width="32">No</th>
				<th rowspan="2" width="200">Menu</th>
				<th colspan="5">Privilege</th>
			</tr>
			<tr><th width="50">Access</th>
				<th width="50">Retrieve</th>
				<th width="50">Create</th>
				<th width="50">Update</th>
				<th width="50">Delete</th>
			</tr>
		</thead>
		<tbody>
		
        {% set idx = 1 %}
		{% for privilege in userPrivilegeMenu %}
        
	        <tr {{privilege['menu_pid']}}">
				<td class="center">{{idx}}</td>
				<td>{% if privilege['menu_pid'] != 'P' %}&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}{{privilege['menu']}}</td>
				{% if privilege['menu_pid'] != 'P' %}
				<td><input class="postit acc[{{privilege['menu_id']}}]" type="checkbox" {% if privilege['p_access'] %} checked="checked" {% endif %}"  /></td>
				<td><input class="postit ret[{{privilege['menu_id']}}]" type="checkbox" {% if privilege['p_retrieve'] %} checked="checked" {% endif %}"  /></td>
				<td><input class="postit cre[{{privilege['menu_id']}}]" type="checkbox" {% if privilege['p_create'] %} checked="checked" {% endif %}"  /></td>
				<td><input class="postit upd[{{privilege['menu_id']}}]" type="checkbox" {% if privilege['p_update'] %} checked="checked" {% endif %}"  /></td>
				<td><input class="postit del[{{privilege['menu_id']}}]" type="checkbox" {% if privilege['p_delete'] %} checked="checked" {% endif %}"  /></td>
				
				{% else %}
				<td>
				<input class="postit mmn[{{privilege['menu_id']}}] pid t{{privilege['menu_id']}}" type="checkbox" {% if privilege['p_access'] %} checked="checked"{% endif %}"/></td> {# onchange="check_submenu(this,{$td.menu_id}) #}
				<td colspan="4">&nbsp;</td>
				{% endif %}
			</tr>
			{% set idx = idx +1 %}
		{% else %}
        <em>Unbelievable.  No entries here so far</em>
		{% endfor %}
        
        
		</tbody>
	</table>
    <button id="form_save" name="save" type="submit" style="margin-top:10px;" class="pull-right">Save</button>
    </form>
    {% endif %}
</div>
    
{% endblock %}



