
{% extends 'base.html.twig' %}
{% block title %}Admin Management{% endblock %}
     
{% block body %}

<!--<ul class=entries>-->
<div class="panel panel-default">
    <div class="panel-heading" style="height:3em;padding:0.2em;padding-right:1em;">
    
    <a href="{{ path('addAdmin') }}"><button type="button" class="btn btn-primary pull-right">Add</button></a>
    
    </div>
    <!-- Table -->
    <table class="table">
        <tr>
            <th>No</th>
            <th>Employee ID</th>
            <th>User ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th class="align-center">Picture</th>
            <th>Action</th>
        </tr>
        {% set idx = 1 %}
        {% for employee in employees %}
        <tr>
            <td>{{idx}}</td>
            <td>{{ employee.employeeId }}</td>
            <td>{% if employee.getUser() %}
                    {{ employee.getUser().getUsername() }}
                {% else %}
                    -
                {% endif %}

            </td>
            <td>{{ employee.employeeFullname }}</td>
            <td>{{ employee.employeeAddress }}</td>
            <td>{{ employee.phoneNumber }}</td>
            <td>{{ employee.email }}</td>
            <td>
            
            <img class="img-thumbnail center-block" width="100em" src="{{asset('bundles/images/employee/')}}{{employee.getPicture()}}" />
            
            </td>
            <td>
                {# if session.logged_in #}
                <a href="{{ path('deleteAdmin', {'id': employee.employeeId}) }}" class="center-block"><span class="center-block glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                {# endif #}
            </td>
        </tr>
        {% set idx = idx +1 %}
        {% else %}
        <em>Unbelievable.  No entries here so far</em>
        {% endfor %}
    </table>
</div>
    
{% endblock %}



