{% extends 'base.html.twig' %}
{% block title %}User Group Management{% endblock %}
{% block body %}
{# if session.logged_in #}
{% if error %}
<div class="error">{{ error }}</div>
{% endif %}
<form enctype="multipart/form-data" action="{% if act == 'add' %}{{ path('addMealCategory') }} {% else %} {{ path('editMealCategory',{'id': mealCategory.getCategoryId()}) }} {% endif %}" method=post class="laminarin-form">
    <dl>
        <dt>Category Name:</dt>
        <dd>{{ form_widget(form.categoryName) }}</dd>
        <dt>Description:</dt>
        <dd>{{ form_widget(form.categoryDesc) }}</dd>
        <dd>{{ form_widget(form.save) }}

            <a href="{{ path('mealCategoryIndex') }}"><button type="button" class="btn btn-primary pull-right">Back</button></a>
        <br/></dd>
    </dl>
</form>

  {# endif #}
{% endblock %}